<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610155830868-tp4tcou9tfjm1tdtj7lleh4lj1aegvmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610155830868-tp4tcou9tfjm1tdtj7lleh4lj1aegvmf</string>
	<key>API_KEY</key>
	<string>AIzaSyDZZgBPuqq9Aq02XiF6AJTyL6EzrDhwANs</string>
	<key>GCM_SENDER_ID</key>
	<string>610155830868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chat.obby.testnet</string>
	<key>PROJECT_ID</key>
	<string>obby-chat-testnet</string>
	<key>STORAGE_BUCKET</key>
	<string>obby-chat-testnet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610155830868:ios:1bf171b7d5160b57e457c1</string>
</dict>
</plist>
